/* Feature.*/
.feature {
  border: var(--border-default);
  border-radius: var(--border-radius-sm);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featureText {
  margin-top: 12px;
}

p.false {
  display: none;
}
