.customRadio {
  border: 1px solid red;
}

.radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -140px 0 5rem;
}

.customRadioc {
  display: flex;
  flex-direction: row;
}

.textMono {
  composes: textMono from "../styles/shared.module.css";
}

.textMonoBlack {
  composes: textMonoBlack from "../styles/shared.module.css";

  @nest &:after {
    content: '(save 10%!)';
    position: absolute;
    margin: 2px 0 0 6px;
    color: var(--color-primary);
    font-size: 12px;
  }
}
