.plan {
  border: var(--border-default);
  border-radius: var(--border-radius-sm);
  padding: 40px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 333%;
}

.plan:first-of-type, .plan:nth-child(3) {
  border: var(--border-light);
}

.planPriceAnnually,
.planPriceMonthly {
  font-size: 30px;
  font-weight: 700;
  margin: 4px 0 12px;
  display: block;
}

.planPriceMonthly {
  display: none;
}

.planPriceMonthly.isVisible {
  display: none;
}

.planName {
  font-size: 16px;
}

.planIncluded {
  margin: 16px 0;
}
