.plan {
  border: var(--border-default);
  border-radius: var(--border-radius-sm);
  margin: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 333%;
  transition: all ease .2s;
  justify-content: space-between;
  padding: 0 0 12px;
}

.plan:first-of-type, .plan:nth-child(3), .plan:nth-child(4) {
  border: var(--border-light);
  transform: scale(0.96);
}

.plan:first-of-type:hover,
.plan:nth-child(3):hover,
.plan:nth-child(4):hover {
  transform: scale(.98);
}

.planPriceAnnually,
.planPriceMonthly {
  font-size: 30px;
  font-weight: 700;
  margin: 32px 0 12px;
  display: block;
}

.plan:nth-child(2) .planPriceAnnually:after,
.plan:nth-child(2) .planPriceMonthly:after,
.plan:nth-child(3) .planPriceMonthly:after,
.plan:nth-child(3) .planPriceAnnually:after {
  content: 'p/yr';
  position: absolute;
  margin: 18px 0 0;
  color: var(--color-neutral-700);
  font-size: 12px;
  font-family: var(--font-family-mono);
  font-weight: normal;
}

.none {
  display: none;
}

.planName {
  composes: textMonoWhite from "../styles/shared.module.css";
  background: var(--color-neutral-900);
  padding: 4px 0 6px;
}

.plan:first-of-type .planName,
.plan:nth-child(3) .planName,
.plan:nth-child(4) .planName {
  background: var(--color-neutral-500);
  color: var(--color-neutral-900);
}

.planIncluded {
  margin: 16px 0;
  composes: textMono from "../styles/shared.module.css";
}

.plan:first-of-type .btn,
.plan:nth-child(3) .btn,
.plan:nth-child(4) .btn {
  background: var(--color-neutral-500);
  color: var(--color-neutral-900);
}

.plan:nth-child(4) .planPriceMonthly,
.plan:nth-child(4) .planPriceAnnually {
  font-size: 20px;
}

.btn {
  margin-top: 24px;
  margin: 32px;
  text-decoration: none;
  padding: 12px;
  background: var(--color-neutral-900);
  color: #fff;
  border-radius: var(--border-radius-sm);
  font-weight: 700;
  font-size: var(--font-small-size);
  cursor: pointer;
}
