.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0;
}

.textMono {
  composes: textMono from "../styles/shared.module.css";
}

.textMonoBlack {
  composes: textMonoBlack from "../styles/shared.module.css";

  @nest &:after {
    content: '(save 10%!)';
    position: absolute;
    margin: 2px 0 0 6px;
    color: var(--color-primary);
    font-size: 12px;
  }
}

.onoffswitch {
    position: relative; width: 52px;
    margin: 0 8px;
}
.onoffswitchCheckbox {
    display: none;
}
.onoffswitchLabel {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid var(--color-primary); border-radius: 30px;
    background-color: var(--color-primary);
    transition: background-color 0.3s ease-in;
}
.onoffswitchLabel:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 0px;
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitchCheckbox:checked + .onoffswitchLabel {
    background-color: var(--color-primary);
}
.onoffswitchCheckbox:checked + .onoffswitchLabel,
.onoffswitchCheckbox:checked + .onoffswitchLabel:before {
   border-color: var(--color-primary);
   border: 2px solid #e5e5e5;
   background-color: #fff;
}
.onoffswitchCheckbox:checked + .onoffswitchLabel:before {
    right: 20px;
}
