@import './custom-media.css';
@import './custom-properties.css';

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.textCenter {
  text-align: center;
}

.textMono {
  font-family: var(--font-family-mono);
  font-size: var(--font-small-size);
  color: var(--color-gray);
  margin: 0;
}

.textMonoBlack {
  font-family: var(--font-family-mono);
  font-size: var(--font-small-size);
  color: var(--color-black);
  margin: 0;
}

.textMonoWhite {
  font-family: var(--font-family-mono);
  font-size: var(--font-small-size);
  color: var(--color-white);
  margin: 0;
}

.container {
  max-width: var(--wide-container, 80rem);
  margin: 0 auto;
  padding: 0 16px;

  @media (--typography-breakpoint) {
    width: 100%;
  }
}

.background {
  background: var(--color-very-light-gray);
}

.normal-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--wide-container, 60rem);
  }
}

.narrow-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--narrow-container, 30rem);
  }
}
