@import "../styles/custom-media.css";

.textCenter {
  text-align: center;
}

.darkText {
  color: var(--color-neutral-900)
}

.container {
  composes: container from "../styles/shared.module.css";
}


/*Map*/
.customRadio {
  border: 1px solid red;
}

.radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -140px 0 5rem;
}

.customRadioc {
  display: flex;
  flex-direction: row;
}

path.Brand {
  border: 1px solid red;
  fill: var(--color-neutral-500);
}

path.Brand:nth-of-type(2) {
  fill: var(--color-primary);
}

path.Standard {
  border: 1px solid red;
  fill: var(--color-accent-2-light);
}

path.Standard:nth-of-type(2) {
  border: 1px solid red;
  fill: var(--color-accent-2);
}

path.Dark {
  border: 1px solid red;
  fill: var(--color-neutral-300);
}

path.Dark:nth-of-type(2) {
  border: 1px solid red;
  fill: var(--color-neutral-900);
}

path.Grey {
  border: 1px solid red;
  fill: var(--color-neutral-100);
}

path.Grey:nth-of-type(2) {
  border: 1px solid red;
  fill: var(--color-neutral-900);
}

.bg {
  composes: background from "../styles/shared.module.css";
  margin: 80px 0;
  padding: 80px 0;
  overflow-x: scroll;
}

.textMono {
  composes: textMono from "../styles/shared.module.css";
}

.textMonoBlack {
  composes: textMonoBlack from "../styles/shared.module.css";

  @nest &:after {
    content: '(save 10%!)';
    position: absolute;
    margin: 2px 0 0 6px;
    color: var(--color-primary);
    font-size: 12px;
  }
}

.svgMap {
  margin: 3rem 0 4rem;
  width: 100vw;

  @media (--media-max-medium) {
    margin-top: 0;
  }
}

.dark {
  border: 1px solid red;
}

.default {
  border: 1px solid blue;
}

svg path.that {
  fill: var(--color-primary) !important;
  opacity: 1;
  border: 1px solid red;
}

svg path.those {
  fill: var(--color-neutral-500) !important;
  opacity: 1;
  border: 1px solid blue;
}


/* Features */
.features > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 3rem 0 8rem;

  @media (--media-max-medium) {
    grid-template-columns: minmax(200px,1fr);
    margin: 3rem 0 8rem;
  }
}

/* Customers */
.customersWrapper {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;


  @media (--media-max-medium) {
    width: 100vw;
    margin-left: -1rem;
    overflow: auto;
  }
}

.customersWrapper > div {
  display: grid;
  grid-template-columns: minmax(33%,1fr) minmax(33%,1fr) minmax(33%,1fr);
  @media (--media-max-medium) {
    display: flex;
    padding-left: 1rem;
  }
}

/* Plans */
.plans > div {
  margin: 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;

  @media (--media-max-medium) {
    flex-direction: column;
    margin: 3rem 0 8rem;
  }
}
