.root {
  composes: center from "../styles/shared.module.css";
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.container {
  composes: container from "../styles/shared.module.css";
}

.bg {
  background: var(--color-very-light-gray);
  margin: 80px 0;
  padding: 80px;
  overflow-x: scroll;
}

/* Features */
.features {
  display: grid;
  grid-template-columns: minmax(200px,1fr) minmax(200px,1fr);
  grid-gap: 2rem;
}

.feature {
  border: var(--border-default);
  border-radius: var(--border-radius-sm);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featureText {
  margin-top: 12px;
}

/* Plans */
.plans {
  margin-top: 80px;
  display: grid;
  grid-template-columns: minmax(200px,1fr) minmax(200px,1fr);
  grid-gap: 2rem;
}

.planIncluded {
  border: 1px solid red;
}


/* Customers */
.customers {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.customer {
  border: 2px solid #000;
  border-radius: 5px;
  margin: 8px;
  background: var(--color-white);
}

.mapDetails {
  padding: 16px;
}

.mapImageContainer {
  padding: 0;
  height: 152px;
  overflow: hidden;
  border-bottom: var(--border-default);
}
