@import "../styles/custom-media.css";

.textCenter {
  text-align: center;
}

.darkText {
  color: var(--color-neutral-900)
}

.center {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.container {
  composes: container from "../styles/shared.module.css";
}

/*Map Toggle*/
.radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -120px 0 5rem;
}

/*Map*/
path.Brand {
  fill: #fff; /*sea*/
}

path.Brand:nth-of-type(2) {
  fill: var(--color-neutral-500); /*country*/
}

path.Brand:nth-of-type(3) {
  fill: var(--color-primary);  /*marker*/
}

path.Standard {/*sea*/
  fill: #94d1ef;
}

path.Standard:nth-of-type(2) {
  fill: var(--color-neutral-200); /*country*/
  stroke: var(--color-neutral-500);
  stroke-width: 1px;
}

path.Standard:nth-of-type(3) {
  fill: var(--color-accent);  /*marker*/
}

path.Dark {
  fill: var(--color-neutral-900); /*sea*/
}

path.Dark:nth-of-type(2) {
  fill: rgba(255,255,255,.15); /*country*/
}

path.Dark:nth-of-type(3) {
  fill: var(--color-accent-3);  /*marker*/
}

path.Grey {
  fill: #e5e5e5; /*sea*/
}

path.Grey:nth-of-type(2) {
  fill: #fbfbfb; /*country*/

}

path.Grey:nth-of-type(3) {
  fill: var(--color-neutral-900); /*marker*/
}


.bg {
  composes: background from "../styles/shared.module.css";
  margin: 80px 0;
  padding: 80px 0;
  overflow-x: scroll;
}

.textMono {
  composes: textMono from "../styles/shared.module.css";
}

.textMonoBlack {
  composes: textMonoBlack from "../styles/shared.module.css";

  @nest &:after {
    content: '(save 10%!)';
    position: absolute;
    margin: 2px 0 0 6px;
    color: var(--color-primary);
    font-size: 12px;
  }
}

.svgMap {
  margin: 3rem 0 4rem;
  width: 100vw;

  @media (--media-max-medium) {
    margin-top: 0;
  }
}

/* Features */
.features > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 3rem 0 8rem;

  @media (--media-max-medium) {
    grid-template-columns: minmax(200px,1fr);
    margin: 3rem 0 8rem;
  }
}

/* Customers */
.customersWrapper {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;


  @media (--media-max-medium) {
    width: 100vw;
    margin-left: -1rem;
    overflow: auto;
  }
}

.customersWrapper > div {
  display: grid;
  grid-template-columns: minmax(33%,1fr) minmax(33%,1fr) minmax(33%,1fr);
  @media (--media-max-medium) {
    display: flex;
    padding-left: 1rem;
  }
}

/* Plans */
.plans > div {
  margin: 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;

  @media (--media-max-medium) {
    flex-direction: column;
    margin: 3rem 0 8rem;
  }
}



.googleButton {
  height: 40px;
  display: inline-flex;
  align-items: center;
  border-width: 0;
  background-color: var(--color-neutral-900);
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  text-decoration: none;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: var(--color-neutral-800);
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.googleButton__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.googleButton__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
  text-decoration: none;
}
